body {
  background: #222;
}
.box {
  display: inline-block;
  border: 1px solid black;
  width: 15px;
  height: 15px;
  margin-left: -1px;
  margin-bottom: -1px;
}

.blank {
  background-color: lightgray;
}

.user {
  background-color: blue;
}

.health {
  background-color: green;
}

.enemy {
  background-color: red;
}

.portal {
  background-color: purple;
}

.weapon {
  background-color: orange;
}

.box:hover {
  background: #00CCFF;
}


.center {
  margin: auto;
  display: table;
  margin-top: 10px;
}

.grid {
  width: 150px;
  line-height: 0;
  margin: auto;
  box-shadow: 0px 0px 20px white;
  margin-top: 20px;
}
.player {
  background-color: blue;
}
.health {
  background-color: green;
}
.weapon {
  background-color: yellow;
}
.enemy {
  background-color: red;
}
.portal {
  background-color: purple;
}


h1, h3 {
  text-align: center;
  color: white;
}
